#board {
	margin-left: 30%;
	margin-top: 12%;
	border-color:#0A1433;

}

.cell {
	background-color: #6C7285;
cursor: pointer;
font-size: 32px;
font-weight: bold;
padding-right: 35px;
padding-top: 10px;
height: 75px;
border-radius: 5px;
line-height: 50%;
padding-left: 35px;

	/*background-color: #6C7285;
	cursor: pointer;
	font-size: 32px;
	font-weight: bold;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 10px;
	height: 75px;*/
}

.hide {
	display: none;
}

#index {
	border: 1px solid;
	font-family: monospace;
	font-size: 18px;
	height: 225px;
	left: 35%;
	padding-left: 71px;
	padding-top: 15px;
	position: absolute;
	top: 35%;
	border-radius: 15px;
	width: 335px;
}

#start {
	background-color: #51a351;
	border-radius: 10px;
	box-shadow: 1px 1px 10px inset;
	font-family: Comic Sans MS;
	margin-top: 20px;
	padding: 6px;
}

#start:hover{
	background-color: orange;
	-webkit-transform : scale(1.2);
	-moz-transform : scale(1.2);
	transform : scale(1.2);
}

.animate{
	-webkit-animation: myfirst 0.15s;
-webkit-animation-timing-function: linear;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;
background-color: red;
border-radius: 15px;
box-shadow: 0 0 30px inset;
}
@-webkit-keyframes myfirst
{
0%   {-webkit-transform: rotateX(-40deg);}
100% {-webkit-transform: rotateX(40deg)}
}